<div class="board">
  <div class="column">
  <div class="Idea">
    <h4>Idea</h4>
    <sb-workitem ng-repeat="item in items | sortBy:'idea'" info="item" after-delete="afterDelete()"></sb-workitem>
    <sb-workitem-form></sb-workitem-form>
  </div>
  </div>
  <div class="column">
    <h4>Doing</h4>
    <sb-workitem ng-repeat="item in items | sortBy:'doing'" info="item" after-delete="afterDelete()"></sb-workitem>
    <sb-workitem-form></sb-workitem-form>
  </div>

  <div class="column">
    <h4>Not Completed</h4>
    <ui-sortable>
      <sb-workitem ng-repeat="item in items | sortBy:'not completed'" info="item" after-delete="afterDelete()"></sb-workitem>
    </ui-sortable>
    <sb-workitem-form></sb-workitem-form>
  </div>


  <div class="column">
    <h4>Complete</h4>
    <sb-workitem ng-repeat="item in items | sortBy:'completed'" info="item" after-delete="afterDelete()"></sb-workitem>
    <sb-workitem-form></sb-workitem-form>
  </div>

</div>
