<div class="board">
  <div class="column">
    <h4>Do</h4>
    <workitem ng-repeat="item in items" info=item>
    </workitem>
    <h6>Add card..</h6>
  </div>
  <div class="column">
    <h4>Fragmentary</h4>
    <workitem>
    </workitem>
    <h6>Add card..</h6>
  </div>

  <div class="column">
    <h4>Implementation</h4>
    <div ng-controller="ModalCtrl">
    <h6 ng-click='toggleModal()'>Add card..</h6>
    <modal-dialog show='modalShown' width='750px' height='60%'>
      <sb-workitem-form></sb-workitem-form>
    </modal-dialog>
    </div>
  </div>
  </div>

  <div class="column">
    <h4>Complete</h4>
    <div ng-controller="ModalCtrl">
    <h6 ng-click='toggleModal()'>Add card..</h6>
    <modal-dialog show='modalShown' width='750px' height='60%'>
    <form>
      <input type="text"></form>
    </form>
    </modal-dialog>
    </div>
  </div>
</div>