<div ng-controller="ModalCtrl">

<p ng-click='toggleModal()'>{{info.title}} <b>{{info.status}}<b></p>
  <li role="presentation" class="divider"></li>
<modal-dialog show='modalShown' width='750px' height='60%'>
	<h2>Workitem</h2>
	<h3>Description</h3>
  <p>{{info.description}}</p>
  <p>User: {{info.user.username}}</p>
    <p>Status: {{info.status}}</p>
      <select name="status" ng-model="status">
  			<option value="doing">Doing</option>
			<option value="not completed">Not completed</option>
			<option value="idea">Idea</option>
			<option value="completed">Completed</option>
		</select>
		<input type="submit" class="btn btn-default" ng-click="updateItem(status, info.id)"/>

  <select name="users" ng-model="username">
  			<option ng-repeat="user in users">{{user.username}}</option>
			
		</select>
		<input type="submit" class="btn btn-default" ng-click="addUser(username, info.id)" ng-disabled="workitemForm.$dirty && workitemForm.$invalid"/>
</modal-dialog>
</div>
